.venv/
.env
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
experiments/*
!experiments/day-05/
!experiments/day-05/**
!experiments/day-06/
!experiments/day-06/**
!experiments/day-07/
!experiments/day-07/**
!experiments/day-08/
!experiments/day-08/**
