.venv/
.env
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
experiments/*
!experiments/day-05/
!experiments/day-05/**
!experiments/day-06/
!experiments/day-06/**
!experiments/day-07/
!experiments/day-07/**
!experiments/day-08/
!experiments/day-08/**
!experiments/day-09/
!experiments/day-09/**
!experiments/day-10/
!experiments/day-10/**
!experiments/day-11/
!experiments/day-11/**
.env.security
